<?xml version="1.0" encoding="utf-8"?>
<!--T!{ ============================================================
 ! Changed:
 !T-
 !T- <manifest xmlns:android="http://schemas.android.com/apk/res/android"
 !T-    package="jackpal.androidterm"
 !T-      android:versionName="1.0.70"
 !T-      android:versionCode="71"
 !T-      android:installLocation="auto">
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="de.t2h.tterm"
        android:versionName="0.1.9 (beta) (ongoing)"
        android:versionCode="10"
        android:installLocation="auto">
<!--T!} ============================================================ -->

    <!--T+{ ============================================================ -->
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
    <!--T+} ============================================================ -->

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--T!{ ============================================================
     !T- <permission android:name="de.t2h.tterm.permission.RUN_SCRIPT"
     !T-             android:label="@string/perm_run_script"
     !T-             android:description="@string/permdesc_run_script"
     !T-             android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
     !T-             android:protectionLevel="dangerous" />
     !T- <permission android:name="de.t2h.tterm.permission.APPEND_TO_PATH"
     !T-             android:label="@string/perm_append_to_path"
     !T-             android:description="@string/permdesc_append_to_path"
     !T-             android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
     !T-             android:protectionLevel="dangerous" />
     !T- <permission android:name="de.t2h.tterm.permission.PREPEND_TO_PATH"
     !T-             android:label="@string/perm_prepend_to_path"
     !T-             android:description="@string/permdesc_prepend_to_path"
     !T-             android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
     !T-             android:protectionLevel="dangerous" />
    -->
    <uses-permission android:name="jackpal.androidterm.permission.RUN_SCRIPT" />
    <uses-permission android:name="jackpal.androidterm.permission.APPEND_TO_PATH" />
    <uses-permission android:name="jackpal.androidterm.permission.PREPEND_TO_PATH" />
    <!--T!} ============================================================ -->

    <!--T!{ ============================================================
     ! `@string/application_terminal´ is now set in `/term/build.gradle´.
     !T+} ============================================================ -->
    <application android:icon="@drawable/ic_launcher"
            android:label="@string/application_terminal"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme">

        <activity android:name="Term"
                android:launchMode="singleTask"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias android:name="TermInternal"
                android:targetActivity="Term"
                android:exported="false">
            <intent-filter>
                <!--T!{ ============================================================
                 ! Changed `name´.
                -->
                <action android:name="de.t2h.tterm.private.OPEN_NEW_WINDOW" />
                <!--T!} ============================================================ -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <!--T!{ ============================================================
                 ! Changed `name´.
                -->
                <action android:name="de.t2h.tterm.private.SWITCH_WINDOW" />
                <!--T!} ============================================================ -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name="RemoteInterface"
                android:excludeFromRecents="true">
            <intent-filter>
                <!--T+{ ============================================================
                 ! Kept `name´.
                 !T+} ============================================================ -->
                <action android:name="jackpal.androidterm.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
                android:name="TermHere"
                android:label="@string/activity_term_here_title"
                android:targetActivity="RemoteInterface"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!--T+{ ============================================================
         ! Kept `android:permision´.
         !T+} ============================================================ -->
        <activity android:name="RunScript"
                android:excludeFromRecents="true"
                android:permission="jackpal.androidterm.permission.RUN_SCRIPT">
            <intent-filter>
                <!--T+{ ============================================================
                 ! Kept `name´.
                 !T+} ============================================================ -->
                <action android:name="jackpal.androidterm.RUN_SCRIPT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="RunShortcut"
                android:excludeFromRecents="true">
            <intent-filter>
                <!--T!{ ============================================================
                 ! Changed `name´.
                -->
                <action android:name="de.t2h.tterm.RUN_SHORTCUT" />
                <!--T!} ============================================================ -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="TermPreferences"
                android:label="@string/preferences"/>

        <activity android:name="WindowList"
                android:label="@string/window_list" />

        <service android:name="TermService" >
            <intent-filter>
                <!--T!{ ============================================================
                 ! Changed `name´.
                -->
                <action android:name="de.t2h.tterm.action.START_TERM.v1"/>
                <!--T!} ============================================================ -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <!--T+{ ============================================================
         ! `@string/activity_shortcut_create´ is now set in `/term/build.gradle´.
         !T+} ============================================================ -->
        <activity android:label="@string/activity_shortcut_create"
                android:name=".shortcuts.AddShortcut"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboard|keyboardHidden">
        <!--T!} ============================================================ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data     android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".shortcuts.FSNavigator"
                android:label="@string/addshortcut_button_find_command"
                android:launchMode="singleTop"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!--T+{ ============================================================ -->
        <activity
                android:name="HelpActivity"
                android:label="@string/title_activity_help"
                android:parentActivityName="de.t2h.tterm.Term" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="de.t2h.tterm.Term" />
        </activity>
        <!--T+} ============================================================-->

        <meta-data
                android:name="com.sec.android.support.multiwindow"
                android:value="true">
        </meta-data>
    </application>
</manifest>
