# ‘.gitignore’ for top-level Android project
#
# Sync'ed 2017-12-01 with
#   (info "(android) ‘.gitignore’")


# ============================================================
# Emacs
# ============================================================

*~

# ============================================================
# Gradle
# ============================================================

.gradle

build/

# ============================================================
# Android Studio
# ============================================================

*.iml

.externalNativeBuild

.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

local.properties

